@model Department
@{
    ViewData["Title"] = "Add Department";
}

<h1>Add Department</h1>

<form method="post" action="/Department/SaveAdd">
    <div>
        <label>Name</label>
        <input type="text" name="Name" id="Name" value="@Model?.Name" class="form form-control" />
    </div>
    <div>
        <label>Manager Name</label>
        <input type="text" name="MgrName" id="MgrName" value="@Model?.ManagerName" class="form form-control" />
    </div>
    <input type="submit" value="Create" class="btn btn-primary mt-3 mb-3" />
</form>
<a href="/Department/Index">Back To List</a>
