@model List<Department>

@{
	ViewData["Title"] = "All Departments";
}

<h1>Departments</h1>

<a href="/Department/Add" class="btn btn-success mt-3 mb-3">New</a>
<table class="table table-hover table-bordered">
	<tr>
		<th>Number</th>
		<th>Name</th>
		<th>Employees Count</th>
	</tr>
	@foreach (var item in Model)
	{
		<tr>
			<td>@item.Id</td>
			<td>@item.Name</td>
			<td>@item.Students?.Count</td>
		</tr>
	}
</table>