@model DepartmentViewModel
@{
    ViewData["Title"] = "Department Details";
    int i = 1;
}

<h1>Department Details</h1>
<br />
<h2>@Model.DeptName</h2>
<br />
<h2>@Model.Status</h2>
<br />
<table class="table table-hover table-bordered">
    <thead class="table-dark">
        <tr>
            <th>Number</th>
            <th>Name</th>
        </tr>
    </thead>
   
    <tbody>
        @foreach (var item in Model.Students)
        {
            <tr>
                <td>@i</td>
                <td>@item.Name</td>
            </tr>
            i++;
        }
    </tbody>
</table>
<a href="/Department/Index">Back To List</a>
